body {
    font-family: 'Belanosima', sans-serif;
    background: url(asset/background.webp);
}

section {
    margin-bottom: 120px;
}

header {
    background-color: #1d232a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    list-style: none;
    margin-bottom: 22px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.garis {
    display: none;
}

.nav-bar ul {
    position: sticky;
    top: 0;
    z-index: 100;
    list-style: none;
    display: flex;
    margin-top: 20px;
    top: 80px;
}

.nav-bar ul li a {
    display: block;
    color: #ffc10e;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li {
    margin-right: 25px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: #ffc10e;
}

.nav-bar ul li a.active {
    color: black;
    background-color: #ffc10e;
}


.contact-section h1 {
    text-align: center;
    color: #ffc10e;
}

.border {
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #0d6efd;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #ffc10e;
}



@media(max-width: 768px) {
    .featured {
        flex-direction: column;
        align-items: center;
    }

    .featured-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    .carousel-image {
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 758px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 725px) {
    .garis {
        display: block;
        cursor: pointer;
    }

    .garis .line {
        width: 30px;
        height: 3px;
        background-color: #ffc10e;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #1d232a;
        transition: .5s;
        overflow: hidden;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    }

    .nav-bar.active {
        height: 300px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }
}