body {
    font-family: 'Belanosima', sans-serif;
    background: url(asset/background.webp);
}

section {
    margin-bottom: 120px;
}

header {
    background-color: #1d232a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    list-style: none;
    margin-bottom: 22px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.garis {
    display: none;
}

.nav-bar ul {
    position: sticky;
    top: 0;
    z-index: 100;
    list-style: none;
    display: flex;
    margin-top: 20px;
    top: 80px;
}

.nav-bar ul li a {
    display: block;
    color: #ffc10e;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li {
    margin-right: 25px;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: #ffc10e;
}

.nav-bar ul li a.active {
    color: black;
    background-color: #ffc10e;
}

.text h2 {
    background-color: #1d232a;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
}


.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
}

.featured-item {
    flex: 1;
    border: none;
    padding: 10px;
}

.featured-item {
    text-align: center;
}

.featured p {
    color: white;
}

div h2 {
    color: #ffffff;
    text-align: center;
}


.button-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    /* margin-top: 50px; */
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.btn2:hover {
    color: white;
    background-color: #0b5ed7;
    transition: all .4s ease-in-out;

}

.card-img-top.zoom {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    transition: transform 0.4s;
}

.card-img-top.zoom:hover {
    transform: scale(1.1);
  }

.custom-rounded {
    border-radius: 5%;
}

.custom-shadow {
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width: 768px) {
    .featured {
        flex-direction: column;
        align-items: center;
    }

    .featured-item {
        margin-right: 0;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px) {
    .carousel-image {
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 758px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 725px) {
    .garis {
        display: block;
        cursor: pointer;
    }

    .garis .line {
        width: 30px;
        height: 3px;
        background-color: #ffc10e;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #1d232a;
        transition: .5s;
        overflow: hidden;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    }

    .nav-bar.active {
        height: 300px;
    } 

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
}