header {
    background-color: #1d232a;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    list-style: none;
    margin-bottom: 22px;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 50px;
}

.garis {
    display: none;
}

.nav-bar ul {
    position: sticky;
    top: 0;
    z-index: 100;
    list-style: none;
    display: flex;
    margin-top: 20px;
    position: sticky;
    top: 80px;
    z-index: 100;
}

.nav-bar ul li a {
    display: block;
    color: #ffc10e;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li a:hover {
    color: black;
    background-color: #ffc10e;
}

.nav-bar ul li a.active {
    color: black;
    background-color: #ffc10e;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 758px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 725px) {
    .garis {
        display: block;
        cursor: pointer;
    }

    .garis .line {
        width: 30px;
        height: 3px;
        background-color: #ffc10e;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #1d232a;
        transition: .5s;
        overflow: hidden;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);

    }

    .nav-bar.active {
        height: 300px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    .nav-bar.active ul {
        opacity: 1;
    }
}